In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
data = Path("../Group-Project/dc_crime_add_vars.csv")
prov_ml_df = pd.read_csv(data)
prov_ml_df.head()

,Unnamed: 0,X,REPORT_DAT,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,...,year,month,day,hour,minute,second,EW,NS,quad,crimetype
0,1,1,8/31/2008 8:47:00 PM,EVENING,THEFT/OTHER,OTHERS,3500 - 3599 BLOCK OF R STREET NW,2.0,206.0,2,...,2008,8,31,20,47,0,West,North,Northwest,Non-Violent
1,2,2,9/1/2008 12:45:00 AM,MIDNIGHT,MOTOR VEHICLE THEFT,OTHERS,2000 - 2015 BLOCK OF O STREET NW,2.0,208.0,2,...,2008,9,1,0,45,0,West,North,Northwest,Non-Violent
2,3,3,9/1/2008 3:00:00 AM,MIDNIGHT,THEFT/OTHER,OTHERS,700 - 799 BLOCK OF 11TH STREET NW,1.0,101.0,2,...,2008,9,1,3,0,0,East,North,Northeast,Non-Violent
3,4,4,9/9/2008 7:46:00 AM,DAY,THEFT/OTHER,OTHERS,1700 - 1799 BLOCK OF P STREET NW,2.0,208.0,2,...,2008,9,9,7,46,0,West,North,Northwest,Non-Violent
4,5,5,8/24/2008 8:00:00 PM,EVENING,MOTOR VEHICLE THEFT,OTHERS,500 - 599 BLOCK OF INDIANA AVENUE NW,1.0,102.0,2,...,2008,8,24,20,0,0,East,North,Northeast,Non-Violent

In [4]:
result = prov_ml_df.dtypes
result

Unnamed: 0                int64
X                         int64
REPORT_DAT               object
SHIFT                    object
OFFENSE                  object
METHOD                   object
BLOCK                    object
DISTRICT                float64
PSA                     float64
WARD                      int64
ANC                      object
NEIGHBORHOOD_CLUSTER     object
BLOCK_GROUP              object
CENSUS_TRACT            float64
VOTING_PRECINCT          object
CCN                       int64
START_DATE               object
END_DATE                 object
XBLOCK                  float64
YBLOCK                  float64
optional                   bool
date                     object
year                      int64
month                     int64
day                       int64
hour                      int64
minute                    int64
second                    int64
EW                       object
NS                       object
quad                     object
crimetype                object
dtype: object

In [5]:
prov_ml_df.OFFENSE.value_counts()

THEFT/OTHER                   130435
THEFT F/AUTO                   85287
ROBBERY                        35267
MOTOR VEHICLE THEFT            33188
BURGLARY                       31292
ASSAULT W/DANGEROUS WEAPON     23436
SEX ABUSE                       2402
HOMICIDE                        1234
ARSON                            326
Name: OFFENSE, dtype: int64

In [6]:
prov_ml_df = prov_ml_df.drop(columns="optional")
prov_ml_df = prov_ml_df.drop(columns="EW")
prov_ml_df = prov_ml_df.drop(columns="NS")
prov_ml_df = prov_ml_df.drop(columns="Unnamed: 0")
prov_ml_df = prov_ml_df.drop(columns="X")
prov_ml_df.head()

,REPORT_DAT,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,ANC,NEIGHBORHOOD_CLUSTER,...,YBLOCK,date,year,month,day,hour,minute,second,quad,crimetype
0,8/31/2008 8:47:00 PM,EVENING,THEFT/OTHER,OTHERS,3500 - 3599 BLOCK OF R STREET NW,2.0,206.0,2,2E,Cluster 4,...,38.913633,2008-08-31 20:47:00,2008,8,31,20,47,0,Northwest,Non-Violent
1,9/1/2008 12:45:00 AM,MIDNIGHT,MOTOR VEHICLE THEFT,OTHERS,2000 - 2015 BLOCK OF O STREET NW,2.0,208.0,2,2B,Cluster 6,...,38.908564,2008-09-01 00:45:00,2008,9,1,0,45,0,Northwest,Non-Violent
2,9/1/2008 3:00:00 AM,MIDNIGHT,THEFT/OTHER,OTHERS,700 - 799 BLOCK OF 11TH STREET NW,1.0,101.0,2,2C,Cluster 8,...,38.899057,2008-09-01 03:00:00,2008,9,1,3,0,0,Northeast,Non-Violent
3,9/9/2008 7:46:00 AM,DAY,THEFT/OTHER,OTHERS,1700 - 1799 BLOCK OF P STREET NW,2.0,208.0,2,2B,Cluster 6,...,38.909638,2008-09-09 07:46:00,2008,9,9,7,46,0,Northwest,Non-Violent
4,8/24/2008 8:00:00 PM,EVENING,MOTOR VEHICLE THEFT,OTHERS,500 - 599 BLOCK OF INDIANA AVENUE NW,1.0,102.0,2,2C,Cluster 8,...,38.894573,2008-08-24 20:00:00,2008,8,24,20,0,0,Northeast,Non-Violent

In [7]:
for column in prov_ml_df.columns:
    print(f"Column {column} has {prov_ml_df[column].isnull().sum()} null values")

Column REPORT_DAT has 0 null values
Column SHIFT has 0 null values
Column OFFENSE has 0 null values
Column METHOD has 0 null values
Column BLOCK has 0 null values
Column DISTRICT has 200 null values
Column PSA has 251 null values
Column WARD has 0 null values
Column ANC has 0 null values
Column NEIGHBORHOOD_CLUSTER has 4705 null values
Column BLOCK_GROUP has 1091 null values
Column CENSUS_TRACT has 1091 null values
Column VOTING_PRECINCT has 84 null values
Column CCN has 0 null values
Column START_DATE has 13 null values
Column END_DATE has 11651 null values
Column XBLOCK has 0 null values
Column YBLOCK has 0 null values
Column date has 0 null values
Column year has 0 null values
Column month has 0 null values
Column day has 0 null values
Column hour has 0 null values
Column minute has 0 null values
Column second has 0 null values
Column quad has 0 null values
Column crimetype has 0 null values

In [8]:
prov_ml_df.VOTING_PRECINCT.value_counts()

Precinct 129    15177
Precinct 17     10785
Precinct 83      6898
Precinct 39      6789
Precinct 72      6768
                ...
Precinct 108      492
Precinct 12       470
Precinct 52       439
Precinct 138      340
Precinct 136      265
Name: VOTING_PRECINCT, Length: 143, dtype: int64